<section id="home-gallery-sec">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="home-sec" class="homeCarousel" >
          <div><img class="img-responsive" src="/assets/images/002.jpg" /></div>
          <div><img class="img-responsive" src="/assets/images/001.jpg" /></div>
          <div><img class="img-responsive" src="/assets/images/003.jpg" /></div>
          <div><img class="img-responsive" src="/assets/images/004.jpg" /></div>
          <div><img class="img-responsive" src="/assets/images/005.jpg" /></div>
          <div><img class="img-responsive" src="/assets/images/006.jpg" /></div>
          <!--<div *ngFor="let pic of topPictures"><img class="img-responsive" [src]="pic" /></div>-->
        </div>
      </div>
    </div>
  </div>
</section>



<section id="services-sec">
  <div class="container">
    <div class="row ">
      <div class="text-center g-pad-bottom">
        <div class="col-md-4 col-sm-4 alert-info">
          <h4>School Updates </h4>
          <p>
            "ABCDEFGH Matriculation School, Valasarawakkam" after Annual holidays shall re-open on June 6th 2017
          </p>

        </div>
        <div class="col-md-4 col-sm-4 alert-success">
          <h4>Online Registration - Coming Soon!</h4>
          <p>
            NO PAPERS/HARD COPIES. Moving forward online booking of children shall be arranged
          </p>

        </div>

        <div class="col-md-4 col-sm-4 alert-danger">
          <h4> #BeHealthy Warning: Summer </h4>
          <p>
            Due to summer season, kindly do not allow children to go out during day time. #PreventDiseases
          </p>

        </div>
      </div>
    </div>
    <br />
    <!--<div class="row go-marg">

      <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">

          <div class="panel-body">
            <h4 class="adjst">Tour Package One #1 </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>


          </div>
        </div>

      </div>
      <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">

          <div class="panel-body">
            <h4 class="adjst">Tour Package Two #2 </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>


          </div>
        </div>

      </div>
      <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">

          <div class="panel-body">
            <h4 class="adjst">Tour Package Three #3 </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            </p>


          </div>
        </div>

      </div>
    </div>-->

  </div>
</section>
<!--END HOME SECTION-->